@media (max-width: 960px) {
  img,
  video {
    max-width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}

body {
  text-align: center;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-size: 9px;
}
header {
  padding: 60px 0;
}
header h1 {
  font-size: 46px;
}

header h3 {
  font-size: 12px;
}

.grid {
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

section {
  padding: 30px;
}
header .ella {
  font-size: 60px;
}

.cafe-header img {
  display: none;
}

.embed {
  aspect-ratio: 16 / 9;
}

.up {
  background-color: rgb(7, 7, 54);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/167/original/pexels-genine-alyssa-pedrenoandrada-2403209.jpg?1694152113);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 200px;
}
.card-pic {
  width: 100%;
  aspect-ratio: 1/1;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.ella {
  font-size: 120px;
  font-family: "Libre Baskerville", serif;
  padding: 50px 0 50px;
}
.detail {
  border-radius: 100%;
  height: 450px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
  padding: 25px 25px;
  display: flex;
}

.part1 {
  text-align: justify;
  font-family: "Libre Baskerville", serif;
}
.topic {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pars {
  color: rgb(143, 129, 129);
}
.why {
  font-size: 70px;
  font-family: "Libre Baskerville", serif;
}
.ho {
  display: flex;
  justify-content: space-around;
}
.second {
  background-color: rgb(219, 230, 226);
  margin: 0 auto;
  padding: 30px;
}
h2 {
  text-align: center;
  padding-bottom: 30px;
}

.img-responsive {
  width: 100%;
  display: block;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 63px;
  margin-left: 42px;
  margin-right: 42px;
}
.cafe {
  background-color: rgb(251, 250, 252);
  align-items: center;
  justify-content: center;
}

.cafe-header.grid {
  grid-gap: 0;
}

.space {
  padding: 35px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card_topic {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  padding-bottom: 10px;
}

.btn1 {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: #2e06bd;
}
.footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/096/755/original/Colombo.jpg?1694506013);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 60px;
  height: 350px;
}

.foot {
  display: flex;
  margin: 5px;
  padding: 30px;
}
.footer h3 {
  font-family: "Abril Fatface", cursive;
  font-family: "Libre Baskerville", serif;
}
.second h2 {
  font-family: "Abril Fatface", cursive;
  font-family: "Libre Baskerville", serif;
}
.one {
  width: 1100px;
  height: 150px;
  padding: 6px;
  margin: 0 auto;
}

.two {
  width: 1100px;
  height: 150px;
  padding: 6px;
  margin: 0 auto;
}

.three {
  width: 1100px;
  height: 150px;
  padding: 6px;
  margin: 0 auto;
}

.insta {
  background-color: white;
}
